@import "_mixins.scss";
.collections-box {
    margin-bottom: 36px;
    &__title {
        margin-bottom: 7px;
    }
}
.collections-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        margin-bottom: 28px;
        @include _721 {
            width: 48%;
            }
            @include _376 {
                width: 100%;
                }
            @include _300 {
                width: 100%;
                }
    }
    &__link {
        display: block;
        position: relative;
        width: 296px;
        // min-width: 296px;
        min-height: 160px;
        @include _721 {
           width: 100%;
           }
           @include _376 {
            width: 100%;
            }
            @include _300 {
                width: 100%;
                min-height: 0px;
                }
    }
    &__title {
        position: absolute;
        z-index: 8;
        top: 108px;
        // top: 65%;
        left: 16px;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: $white-color;
        @include _721 {
            top: 70%;
            }
            @include _376 {
                top: 75%;
                }
        &_small {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__picture {
        border-radius: 4px;
    }
    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        border-radius: 4px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(53, 41, 37, 0.22) 100%);
    }
}