@font-face {
  font-family: 'Rajdhani';
  font-display: swap;
  src: local('Rajdhani SemiBold'), local('Rajdhani-SemiBold'),
      url('../fonts/Rajdhani-SemiBold.woff2') format('woff2'),
      url('../fonts/Rajdhani-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  font-display: swap;
  src: local('Rajdhani Regular'), local('Rajdhani-Regular'),
      url('../fonts/Rajdhani-Regular.woff2') format('woff2'),
      url('../fonts/Rajdhani-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  font-display: swap;
  src: local('Rajdhani Medium'), local('Rajdhani-Medium'),
      url('../fonts/Rajdhani-Medium.woff2') format('woff2'),
      url('../fonts/Rajdhani-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  font-display: swap;
  src: local('Rajdhani Light'), local('Rajdhani-Light'),
      url('../fonts/Rajdhani-Light.woff2') format('woff2'),
      url('../fonts/Rajdhani-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  font-display: swap;
  src: local('Rajdhani Bold'), local('Rajdhani-Bold'),
      url('../fonts/Rajdhani-Bold.woff2') format('woff2'),
      url('../fonts/Rajdhani-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}