.swiper-container {
    width: 100%;
    position: relative;
}
.swiper-slide {
    display: flex;
}
.product-slider-control {
    position: absolute;
    left: 62px;
    top: 712px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
.product-button-prev,
.product-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: border-color .4s ease-in-out, background-color .4s ease-in-out;
}
.product-button-prev > svg *,
.product-button-next > svg * {
    transition: fill .4s ease-in-out;
}
.product-button-prev {
    margin-right: 21px;
}
.product-button-next {
    margin-right: 90px;
}
.swiper-button-disabled {
    opacity: 1!important;
}
.product-button-prev:hover,
.product-button-next:hover {
    border-color: $white-color;
}
.product-button-prev:active,
.product-button-next:active {
    background-color: $white-color;
    border-color: $white-color;
}
.product-button-prev:active > svg *,
.product-button-next:active > svg * {
    fill: $bluesh-gray-color;
}
.product-pagination {
    width: auto;
    display: flex;
    align-items: center;
    line-height: 32px;
    color: $white-color;
    &__icon {
        margin-right: 8px;
    }
}
.swiper-pagination-current {
    margin-right: 8px;
}
.swiper-pagination-total {
    opacity: 0.5;
}
.products-box {
    margin-bottom: 16px;
}
.product-image {
    position: relative;
    &__logo-link {
        position: absolute;
        left: 52px;
        top: 32px;
    }
    &__picture {
        width: 600px;
        height: 768px;
    }
    &__title {
        position: absolute;
        left: 52px;
        top: 568px;
        font-weight: 400;
        font-size: 64px;
        line-height: 64px;
        color: $white-color;
        margin: 0;
        &_small {
            font-weight: 500;
            font-size: 28px;
            line-height: 32px; 
        }
    }
}
.logo {
    width: 95px;
    height: 53px;
}
.product-info {
    padding: 56px 52px 0px 92px;
    &__collection-title {
        margin-bottom: 24px;
    }
    &__product-title {
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 16px;
    }
    &__details-title {
        margin-bottom: 8px;
    }
    &__text {
        width: 65%;
        margin-bottom: 8px;
    }
    &__details-text {
        margin-bottom: 8px;
    }
    &__composition {
        color: $bluesh-gray-color;
        margin-bottom: 72px;
    }
}
.product-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    &__group {
       margin-bottom: 32px;
            margin-right: 53px;
        &-title_first-row {
            margin-bottom: 8px;
        }
        &-title_quantity {
            margin-bottom: 14px;
        }
        & .custom-radio {
            padding-right: 32px;
            margin-right: 6px;
        }
    }
    &__guide-button {
        padding: 2px 13px;
        font-size: 16px;
        line-height: 24px;
        color: $sandy-color;
        border: 1px solid $sandy-color;
        border-radius: 24px;
        background-color: transparent;
        cursor: pointer;
    }
    &__quantity {
       &-control {
        display: flex;
        align-items: center;
    }
       &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border: 1px solid transparent;
        border-radius: 100%;
        background-color: transparent;
        cursor: pointer;
        transition: border-color .4s ease-in-out;
        &:hover {
          border-color: $bluesh-gray-color;
        }
        &:active {
            border-color: $bluesh-gray-color;
          }
        &:first-child {
            margin-right: 13px;
        }
    }
        &-number {
            width: 12px;
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            color: $bluesh-gray-color;
            margin-right: 13px;
        }
    }
    &__cost {
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: $sandy-color;
        &_balance {
            font-size: 30px;
            line-height: 30px;
            color: $bluesh-gray-color;
        }
    }
    &__order-button {
        width: 100%;
        padding: 12px;
    }
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}
.custom-radio {
	position: relative;
    cursor: pointer;
    & .product-form__choose {
        display: inline-block;
        text-align: center;
        color: $bluesh-gray-color;
        transition: all .4s ease-in-out;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        border: 1px solid $violet-color;
        border-radius: 100%;
        opacity: 0;
        transition: all .4s ease-in-out;
    }
    &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        border-radius: 100%;
    }
    &_xs::after {
        content: "XS";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        border-radius: 100%;
        }
    &_s::after {
        content: "S";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        border-radius: 100%;
        }
    &_m::after {
        content: "M";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        border-radius: 100%;
        }
    &_l::after {
        content: "L";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
        border-radius: 100%;
        }
    &_violet::after {
        background-color: $violet-color;
        transition: background-color .4s ease-in-out;
    }
    &_bluesh-gray::after {
        background-color: $bluesh-gray-color;
        transition: background-color .4s ease-in-out;
    }
    &_middle-blue::after {
        background-color: #3d5876;
        transition: background-color .4s ease-in-out;
    }
}
    &:hover .product-form__choose::before {
        opacity: 1;
        border-color: $bluesh-gray-color;
    }
    & input:checked+.product-form__choose::before {
        opacity: 1;
        font-size: 20px;
        font-weight: 24px;
        color: $violet-color;
    }
    & input:checked+.product-form__choose {
        font-size: 20px;
        font-weight: 24px;
        color: $violet-color;
    }
} 