@import "./mixins/breakpoint";

.service-box {
    margin-bottom: 40px;
}
.ui-accordion-header {
    outline: none;
}
.ui-accordion-content {
    padding-top: 16px;
    padding-bottom: 8px;
}
[aria-selected="true"] * .plus {
    display: none !important;
}
[aria-selected="true"] * .minus {
    display: block !important;
}
[aria-selected="false"] * .plus {
    display: block !important;
}
[aria-selected="false"] * .minus {
    display: none !important;
}
.service-list {
&__item {
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid $bluesh-gray-color;
}
&__header {
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
   &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
&__text {
    color: $bluesh-gray-color;
    &_price {
        font-weight: 600;
    }
}
}