* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 291px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: $white-color;
  color: $violet-color;
}
a {
  text-decoration: none;
  cursor: pointer;
}
// a:visited {
//   font-weight: 400;
// }
img {
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: $bluesh-gray-color; 
}
.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $bluesh-gray-color;
}
.button {
  font-family: inherit;
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
  color: $white-color;
  text-align: center;
  border: none;
  border-radius: 0;
  // outline: none;
  cursor: pointer;
  background-color: $violet-color;
  transition: background-color .4s ease-in-out;
  &:hover {
    background-color: #2e4055;
  }
  &:active {
    background-color: #3b536d;
  }
}
.input {
  font-family: inherit;
  border: none;
  border-radius: 1px;
  background-color: rgba(225, 230, 237, 0.2);
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}
.content-column {
  display: flex;
}
.content-column_first {
  width: 600px; 
  flex: 0 0 auto;
}
.content-column_second {
  flex: 1 1 auto;
  padding: 0px 52px 0px 92px;
}